
<div style="margin-bottom: 15px">
  <input type="text">
</div>

<div>

  <p-editor #AsEditor [(ngModel)]="text" >
    <p-header>
    <span class="ql-formats">
      <button class="ql-bold" aria-label="Bold" tabindex="-1" ></button>
      <button class="ql-italic" aria-label="Italic" tabindex="-1" ></button>
      <button class="ql-underline" aria-label="Underline" tabindex="-1" ></button>
    </span>
      <span class="ql-formats">
      <button class="ql-list" value="bullet" aria-label="Bullet List" tabindex="-1" ></button>
      <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1" ></button>
    </span>

    <span class="ql-formats">
      <select class="ql-color" tabindex="-1" ></select>
      <select class="ql-background" tabindex="-1" ></select>
    </span>

      <span class="ql-formats">
      <button class="ql-indent" value="-1" aria-label="Indent" tabindex="-1" ></button>
      <button class="ql-indent" value="+1" aria-label="Indent" tabindex="-1" ></button>
    </span>
      <span class="ql-formats">
      <button class="ql-code-block" aria-label="Code" tabindex="-1" ></button>
    </span>
      <span class="ql-formats">
        <button class="ql-clean" aria-label="Clear Formating" tabindex="-1" ></button>
      </span>
    </p-header>
  </p-editor>
</div>
